@mixin rounded($radius: 10px) {
	-webkit-border-radius: $radius;
  	-moz-radius: $radius;
  	border-radius: $radius;
}

@mixin abs-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin button-trans($time: 0.3s) {
	-webkit-transition: background $time, color $time, opacity $time, border $time;
    -moz-transition: background $time, color $time, opacity $time, border $time;
    -ms-transition: background $time, color $time, opacity $time, border $time;
    -o-transition: background $time, color $time, opacity $time, border $time;
    transition: background $time, color $time, opacity $time, border $time;
}

@mixin gradient($start : #fff, $end : #000, $solid : $end) {
	background: $solid;
    background: -webkit-linear-gradient(top, $start 0%,$end 100%);
    background: -moz-linear-gradient(top, $start 0%, $end 100%);
    background: -ms-linear-gradient(top, $start 0%,$end 100%);
    background: linear-gradient(to bottom, $start 0%,$end 100%);
}

@mixin trans($trans: all 0.3s) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin transf($trans) {
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin animate($anim) {
	-webkit-animation: $anim;
	animation: $anim;
}

@mixin selection($color) {
	
	*::selection {
		background: $color;
	    color: #fff;
	}

	*::-moz-selection {
	    background: $color;
	    color: #fff;
	}
}