$base: #f7f7f7;

/* FONTS */
$sans-one: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-two: "Exo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-three: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-four: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-basic: "Helvetica Neue", Helvetica, Arial, sans-serif;

$serif-one: "Times New Roman", Georgia, Times, serif;